.titleslide{
   width: 712px;
  height: 86px;
  font-family: Lato;
  font-size: 75px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.0714294910430908px;
  text-align: left;
  color: #ffffff;
}


